{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Список заказов</h1>
    <ul class="list-group mt-4">
        {% for order in orders %}
            <li class="list-group-item">
                <span class="order-info">{{ order.id_order }} - {{ order.id_good.title }} - {{ order.total }}</span>
                <div class="order-actions">
                    <a href="{% url 'update_order' order.id_order %}" class="btn btn-primary">Редактировать</a>
                    <a href="{% url 'delete_order' order.id_order %}" class="btn btn-danger">Удалить/Завершить</a>
                </div>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'latest_orders' %}" class="btn btn-success mt-4">Последние заказы</a>
</div>
{% endblock %}