{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Список клиентов</h1>
    <ul class="list-group mt-4">
        {% for client in clients %}
            <li class="list-group-item">
                <span class="client-info">{{ client.surname }} {{ client.name }} {{ client.patronymic }}</span>
                <div class="client-actions">
                    <a href="{% url 'update_client' client.id_client %}" class="btn btn-primary">Редактировать</a>
                    <a href="{% url 'delete_client' client.id_client %}" class="btn btn-danger">Удалить</a>
                </div>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_client' %}" class="btn btn-success mt-4">Создать клиента</a>
</div>
{% endblock %}